div.section
  h2 Change of Rank News

  p.
    The annual Change of Rank parties sponsored by the DBAA will be
    held in March to honor those players who had a change in their
    ACBL rank in 2014.  The schedule of the clubs' parties is shown
    below.  Honorees are entitled to one free play at one of the club
    parties.  The listing of honorees in the DBAA area is provided <a
    target="cor" href="/pdfs/DBAA%20COR%20Honorees-2014.pdf">here</a>.
  p: em Congratulations to all honorees!

  style.
    thead th.title { text-align: center; }
    table.cor { margin-bottom: .5em; }
    table.cor td, table.cor th {
      border: 1px solid black;
      padding: .3em;
    }
    p em { font-size: larger; }

  table.cor(cellspacing="0")
    thead
      tr
        th.title(colspan="5") 2015 Change of Rank Parties
      tr
        th Day
        th Date
        th Time
        th Club
        th Director
    tbody
      tr
        td Monday
        td March 16
        td 12:00
        td Play Bridge Atlanta
        td Ina Parry
      tr
        td Tuesday
        td March 17
        td 12:00
        td Bridge Club of Atlanta
        td Sam Marks
      tr
        td Friday
        td March 20
        td 11:00
        td Alpharetta DBC
        td Dianna Norris
      tr
        td Saturday
        td March 21
        td 12:00
        td Atlanta Duplicate Bridge Club
        td Dan Papineau
      tr
        td Tuesday
        td March 24
        td 10:00
        td Ruff N Sluff
        td Priscilla Smith
      tr
        td Monday
        td March 30
        td 11:00
        td Roswell Duplicate Bridge Club
        td Bill Marks

//- vim: sw=2 ts=8 et ai syn=haml
