div.section
  h2 DBAA News

  p
    The Duplicate Bridge Association of Atlanta has published a
    newsletter to all members.  This newsletter will be published
    on-line (this website) and forwarded to all members directly if
    they provide their preferred E-mail address to us.  Send request
    for this newsletter to Diane Strickland at
    stricklanddiane@gmail.com.

  p.
    <a target="newsletter"
    href="/pdfs/DBAA%20Newsletter%202015%2002.pdf">
      Click here</a>
    for the February newsletter.

//- vim: sw=2 sts=2 ts=8 et ai syn=haml
