div.section
  h2 New Directories
  p.
    We will soon be putting the DBAA Directory online to make it even
    easier to contact your fellow bridge players.  We'll follow that
    up with a new version of the print directory.  Due to privacy
    concerns, we won't put you in the either directory unless you give
    us permission.  You'll also have the opportunity to change your
    online information at any time with a visit to our web site.
   
  p.
    Here is how it works. You have to be invited to join our database.
    Just ask anyone who has already enrolled to do that for you. Or
    any DBAA board member will be happy to help you. (The idea here is
    to keep the scammers out.) Then <a
    href="http://www.dbaa.us/info/services">click here</a> - or copy
    http://www.dbaa.us/info/services into your browser -- and follow
    the directions in Login Database. You can chose to be in the print
    directory, the online directory or both. You decide what
    information you want to make available.
   
  p.
    Even if you don't live in the DBAA area or you don't belong to the
    ACBL, you are still welcome to participate. We want anyone who
    plays in our clubs.

//- vim: sw=2 sts=2 ts=8 et ai syn=haml
