div.section
  h2 Upcoming Tournaments

  li.
    <b>May 21-25</b>, Atlanta Sectional at  Crown Plaza Ravinia
  li.
    <b>June 15-21</b>, District 7 ST@C Your Club
  li.
    <b>July 24-26</b>, NLM at Marietta Ruf 'n Sluff Club
  li.
    <b>August  24-30</b>, District 7 ST@C Your Club
  li.
    <b>Sept 1-7</b>, Atlanta Regional at Crown Plaza Ravinia
  p

//- vim: sw=2 sts=2 ts=8 et ai syn=haml
