div.section
  h2 DBAA – Who We Are
  p.
    The DBAA is a non-profit organization that works in association
    with and under the direction of Georgia State Unit 114.  Its
    purpose is to promote bridge within the metropolitan Atlanta
    geographic area of the DBAA.  The DBAA hosts sectional tournaments
    each year and a bridge game on Wednesday nights at the Atlanta
    Duplicate Bridge Club.  The DBAA also sponsors many events,
    including Change of Rank parties, mentoring and teaching programs
    and supports Atlanta Junior Bridge through grants.  In addition,
    it provides a newsletter and telephone directories for DBAA
    members.  The DBAA is composed entirely of volunteers.  The DBAA
    welcomes all ideas and participation from members.  For further
    information, go to the <a href="#">Governance</a> link on this
    site.
  p.
    If you need a partner or are getting back to the game after a
    number of years, the DBAA can assist you.  Contact: Jack Feagin --
    (404) 966-8469 or <a
    href="mailto:Jfeagin2@bellsouth.net">Jfeagin2@bellsouth.net</a>

//- vim: sw=2 ts=8 et ai syn=haml
