//- Copyright (c) 2015 Garry T. Williams

extends layout
block header
  style(type="text/css") .u253-header { text-align: center; }
  div.u253-header
    img(src='/images/atlanta_skyline2.jpg').skyline
    h3 The Board of Directors of Atlanta Unit 253 of the ACBL
    h5 Welcomes you to
    h3 Atlanta Duplicate Bridge

block content
  script(type="text/javascript").
    (function () { $('li.home').addClass('active') })();
  h3 Welcome to the Unit 253 Home Page
  include ./includes/change-of-rank.jade
  include ./includes/dbaa-news.jade
  include ./includes/new-directories.jade
  include ./includes/upcoming-tournaments.jade
  include ./includes/who-are-we.jade

//- vim: sts=2 sw=2 ts=8 et ai syn=haml
